<nz-table
  #nzTable
  [nzData]="listOfDisplayData"
  nzTableLayout="fixed"
  [nzPageIndex]="1"
  [nzShowPagination]="true"
  [nzPageSize]="10"
  nzShowSizeChanger
  [nzScroll]="{ y: '550px' }"
>
  <thead>
    <tr>
      <ng-container *ngFor="let column of tableConfig; let first = first">
        <th
          *ngIf="first"
          [nzChecked]="isAllChecked"
          [nzIndeterminate]="indeterminate"
          (nzCheckedChange)="onAllChecked($event)"
          [nzWidth]="'50px'"
        ></th>
        <th
          [nzSortOrder]="column.sortOrder"
          [nzSortFn]="column.sortFn"
          [nzFilterMultiple]="column.filterMultiple || false"
          [nzFilters]="column.listOfFilter || []"
          [nzFilterFn]="column.filterFn || null"
          nzCustomFilter
        >
          {{ column.name }}
        </th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="isVisibleSearchBar">
      <ng-container *ngFor="let item of searchConfig | keyvalue: keepOrder">
        <td>
          <div class="srch-container" *ngIf="item.value">
            <ng-container [ngSwitch]="$any(item).value.type">
              <div *ngSwitchCase="'text'">
                <input
                  nz-input
                  name="search"
                  placeholder=""
                  (keyup)="
                    searchAction(
                      $any(item).key,
                      $any($event.target).value,
                      $any(item).value.type
                    )
                  "
                  autocomplete="off"
                />
              </div>
              <div *ngSwitchCase="'date'">
                <nz-date-picker
                  nzFormat="dd/MM/yyyy"
                  name="value"
                  [(ngModel)]="$any(item.value).value"
                  nzPlaceHolder="Please select data"
                  (ngModelChange)="
                    searchAction($any(item).key, $event, $any(item).value.type)
                  "
                ></nz-date-picker>
              </div>
            </ng-container>
          </div>
        </td>
      </ng-container>
    </ng-container>
    <tr *ngFor="let data of nzTable.data">
      <td
        [nzChecked]="data.isChecked || false"
        (nzCheckedChange)="onItemChecked(data?.id || 0, $event)"
      ></td>
      <td>{{ data.name }}</td>
      <td>{{ data.assigneeName }}</td>
      <td>{{ data.startDate | date: "dd/MM/yyyy" }}</td>
      <td>{{ data.endDate | date: "dd/MM/yyyy" }}</td>
      <td>{{ data.totalTime }}</td>
      <td>
        <nz-tag [nzColor]="$any(statusMapper)[data.status].color">{{
          $any(statusMapper)[data.status].name
        }}</nz-tag>
      </td>
    </tr>
  </tbody>
</nz-table>
